# netlify.toml

# Define the location of your Netlify Functions
[functions]
  directory = "autoInx-main/netlify/functions"

# Use the Netlify Scheduled Functions plugin
[[plugins]]
  package = "@netlify/plugin-scheduled-functions"

# Schedule the specific cron-safe function to run daily
[functions."anonymousUserCron"]
  schedule = "0 3 * * *" # Runs daily at 03:00 AM UTC
