# netlify.toml

[functions]
  directory = "netlify/functions" # This line is mandatory
  
# This is the correct way to define a scheduled function natively in Netlify
[functions.anonymousUserCron]
  schedule = "0 3 * * *" 
  
# If you had other plugins defined, they would go here.
# Make sure you remove the block for the scheduled functions plugin package.
